<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://ec2-54-204-7-145.compute-1.amazonaws.com:5432/d9t6dfp6oerqk8</property>
        <property name="connection.username">fvocikyetxmkga</property>
        <property name="connection.password">lSboZekPPLg-q_5Il6jOZDbi83</property>
        <property name="connection.ssl">true</property>
        <property name="connection.sslfactory">org.postgresql.ssl.NonValidatingFactory</property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Mention here all the model classes along with their package name -->
 		<mapping class="edu.luc.lakezon.customer.Address"/>
 		<mapping class="edu.luc.lakezon.customer.Customer"/>
 		<mapping class="edu.luc.lakezon.product.ProductOwner"/>
 		<mapping class="edu.luc.lakezon.product.Product"/>
 		<mapping class="edu.luc.lakezon.product.Review"/>
 		<mapping class="edu.luc.lakezon.order.Order"/>
 		<mapping class="edu.luc.lakezon.order.OrderDetail"/>
 		 
    </session-factory>
</hibernate-configuration>
